.second_body {
    margin: 0;
    background: #0b0a0a;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.second_header {
    background: linear-gradient(45deg, #140c25, #320b32, #0b0a0a);
    padding: 4vw;
    border-radius: 2vw;
    text-align: center;
}

.second_header2 {
    background: linear-gradient(45deg, #140c25, #320b32, #0b0a0a);
    padding: 4vw;
    border-radius: 2vw;
    text-align: center;
    border: 3px solid #9616c3;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(74.65984344482422px);
}

.second_h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.second_p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.second_section {
    padding: 40px;
}

.second_container {
    max-width: 1200px;
    margin: 0 auto;
}
.Rectangle15 {
    position: absolute;
    top: 25vw;
    left: 0;
    width: max-content;
}

.Ellipse12 {
    position: absolute;
    top: 22vw;
    left: 0vw;
}
.Rectangle37 {
    position: absolute;
    top: 15vw;
    right: 3vw;
}

h2 {
    max-width: 50vw;
    display: flex;
    margin-left: 20%;
}

.soft-skills {
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 22vw;
    height: 28vw;
    margin: 10px;
    perspective: 1000px;
    cursor: pointer;
    object-fit: cover;
}
img {
    width: 22vw;
    height: 28vw;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9616c3;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background: #0b0a0a;
    color: #fff;
}

.card-back {
    transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
        height: 200px;
    }
    .Rectangle37 {
        top: 50vw;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
        height: 150px;
    }
    .Rectangle37 {
        display: none;
    }
    h2 {
        max-width: 95%;
        margin: 0;
    }
}

#eyes {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

.eye {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0b0a0a;
    top: 20px;
    left: 20px;
    overflow: hidden;
    border: 2px solid #fff;
}

.pupil {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pupil2 {
    left: 15px;
}
