footer {
    position: relative;
    @include Center;
    flex-direction: column;
    text-align: center;
    height: 20vw;
    z-index: 1;
    background-color: var(--second-block);
}
.link_icons {
    display: flex;
    margin: 0.5vw;
    padding: 0.5vw;
}
.Name1 {
    display: flex;
    font-family: Montserrat;
    font-size: 2vw;
    font-weight: 800;
    color: #fff;
    align-items: center;
}
.bigger {
    margin: 0 1vw;
    padding: 0.5vw;
    border-radius: 5.7px;
    border: 0.6px solid #ee0bd7;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.9499993324279785px);
}
.nice_vector {
    position: absolute;
    bottom: 10vw;
    left: 0.5 vw;
    width: 75%;
}
