@mixin Center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    position: relative;
    @include Center;
    align-items: flex-end;
    // display: flex;
    justify-content: space-between;
    height: 6vw;
    z-index: 1;
    width: 100%;
}
nav {
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
}
.List-items {
    margin-right: 5vw;
    display: flex;
}
.Items,
.Item_contact {
    padding: 1vw;
    font-family: Inter;
    font-weight: 400;
    color: #fff;
    position: relative;
}
// .Item_contact {
//     padding: 0, 60vw 3, 5vw;
//     backdrop-filter: var(--header-login_bg_backdrop_filter);
//     border: 2px solid#9616c3;
//     gap: 10px;
//     border-radius: 25px;
// }
.Item_contact:hover > span {
    transform: var(--x90);
}
.Item_contact > span::before {
    padding: 1vw;
    font-family: Inter;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding: 0, 60vw 3, 5vw;
    backdrop-filter: var(--header-login_bg_backdrop_filter);
    border: 2px solid#9616c3;
    gap: 10px;
    border-radius: 25px;
    transform: var(--z24);
}

.Item_contact > span::after {
    transform: var(--xm90) var(--z24);
}

.Contact::before {
    content: "Contact";
}
// .Contact::after {
//     content: "lyukmark1@gmail.com";
// }

.Name {
    margin-left: 5vw;
    display: flex;
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
    align-items: center;
}
.Full_name {
    margin-left: 8px;
}

.circle {
    @include Center;
    display: flex;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background: var(--header-icon_linear-gradient);
}

@media screen and (max-width: 800px) {
    header {
        height: 8vw;
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .Name {
    }
    .Items,
    .Item_contact {
        margin-left: 8vw;
    }
}
@media screen and (max-width: 600px) {
    header {
        height: 15vw;
        flex-direction: column;
        align-items: flex-start;
    }
    .circle {
        height: 6vw;
        width: 6vw;
    }
    nav {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .Name {
        font-size: 4vw;
    }
    .Items,
    .Item_contact {
        margin: 1vw;
        font-size: 4vw;
        font-weight: 200;
    }
}
