:root {
    --body-bg-color: rgba(11, 10, 10, 0.58);
    --body-bdrop_filter: blur(21.04110336303711px);
    --color_hex: #0b0a0a94;
    --header-icon_linear-gradient: linear-gradient(180deg, #f20493, #9616c3);
    --header-login_bg: rgba(255, 255, 255, 0.1);
    --header-login_bg_backdrop_filter: blur(16.53229522705078px);
    --border: #ee0bd7;
    --second-block: #0b0a0a;
    --ts: all 0.5s ease;
    --x90: rotateX(90deg);
    --z24: translateZ(24.5px);
    --xm90: rotateX(-90deg);
    --white: #fff;
}

@mixin Center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
